.card {
    background-color: #282c34;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto manda el botón al fondo */
  /* Para que todas las cards midan lo mismo */
  }

  .card img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }
  
  .card a{
    margin-top: auto; /* Se empuja hacia abajo */
    display: inline-block;
    padding: 10px 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #274586;
    color: antiquewhite;
    text-decoration: none; /* Quita el subrayado */
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
  }

  .card a:hover {
    background-color: #3459a1;
    transform: scale(1.05);
  }

  .card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
  }
  
  .btn-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0d295e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-link:hover {
    background-color: #020b35; /* Color al pasar el ratón */
  }
  
  h3{
    color: #cdddff;
    font-family: 'Roboto Slab', serif;
  font-weight: bold;
  margin: 1;
  font-size: 30px;
  }

  p{
    font-family: 'Roboto Slab', serif;
  font-weight:lighter;
  margin: 1;
  }

