.card {
    background-color: #282c34;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
  }
  
  .btn-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff7700;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-link:hover {
    background-color: #e06f00; /* Color al pasar el ratón */
  }
  